.matchup-team {
  text-align: center;
  font-size: 20px;
}
.matchup-team:nth-child(even) {
  background-color: #1a8cff;
}
.matchup-team:nth-child(odd) {
  background-color: #4da6ff;
}
.matchup-list-top {
  background-color: #0073e6;
  text-align: center;
}

.matchup-score-header {
  text-align: center;
  background: #0073e6;
  font-size: 24px;
}

.matchup-team-infobox {
  width: 65vh;
  height: 25vh;
  background-color: grey;
}

.matchup-team-infobox-left {
  color: blue;
  background-color: white;
}

.matchup-detail-pic {
  height: 80px;
  width: 100px;
  padding-bottom: 0px;
}

.matchup-card-score {
  font-size: 30px;
  padding-top: 20px;
}

.matchup-card-details {
  padding-top: 10px;
}

.matchup-squad-card {
  width: 400px;
}

.squad-detail-free-agent {
  height: 25px;
  border: 2px solid lightgrey;
  border-radius: 10px;
  background-color: lightgreen;
  padding-left: 2px;
}

.squad-detail-lineup {
  background-color: #C8F4D7;
  font-size: 16px;
  border: 2px solid darkgreen;
  border-radius: 5px;
}

.squad-detail-team {
  border-left: 2px solid grey;
  border-right: 2px solid grey;
}

.squad-detail-lineup-top {
  background-color: lightgreen;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
}

.league-detail-standings {
  font-size: 20px;
}

.league-detail-standings-top {
  font-size: 24px;
}

.blue {
  background-color: blue;
}

.draft {
  background-color: black;
  height: 130vh;
  border: 2px solid darkgrey;
  color: yellow;
}

.matchup-link {
  height: 70px !important;
  /*margin-top: 10px !important;*/
  padding-top: 10px !important;
}

.league-matchup-box {
  height: 110px;
  font-size: 16px;
  font-family: Tahoma;
}

.league-detail-pic {
  height: 25px;
  width: 35px;
}

.league-detail-away-pic {
  padding-bottom: 5px;
}
.draft-side {
  background-color: grey;
  height: 130vh;
}

.index-btn {
  width: 200px;
}

.green {
  background-color: green;
}

.league-detail-top {
  height: 20px;
}

.team-home {
  width: 400px;
}

.index-top {
  height: 40px;
}

.index-btn-logged {
  width: 200px;
  height: 200px;
}

.index-rules-top {
  text-align: center;
}

.squad-detail-profile {
  height: 100px;
  padding-left: 20px;
}

.squad-card {
  width: 600px;
  font-size: 20px;
}

.lightgrey {
  background-color: lightgrey;
}

.row-no-bottom {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.top-card {
  margin-top: 0px !important!
}

.squad-league-link {
  height: 80px;
  margin-top: 20px !important;
}

.index-league-list {
  height: 200px;
  border-left: 2px solid black;
}

.index-list {
  font-family: sans-serif;;
  font-size: 22px;
}
