.matchup-team {
  text-align: center;
  font-size: 20px;
}
.matchup-team:nth-child(even) {
  background-color: #1a8cff;
}
.matchup-team:nth-child(odd) {
  background-color: #4da6ff;
}
.matchup-list-top {
  background-color: #0073e6;
  text-align: center;
}

.matchup-score-header {
  text-align: center;
  background: #0073e6;
  font-size: 24px;
}

.matchup-team-infobox {
  width: 65vh;
  height: 25vh;
  background-color: grey;
}

.matchup-team-infobox-left {
  color: blue;
  background-color: white;
}
