.matchup-team {
  text-align: center;
  font-size: 20px;
}
.matchup-team:nth-child(even) {
  background-color: #1a8cff;
}
.matchup-team:nth-child(odd) {
  background-color: #4da6ff;
}
.matchup-list-top {
  background-color: #0073e6;
  text-align: center;
}

.matchup-score-header {
  text-align: center;
  background: #0073e6;
  font-size: 24px;
}

.matchup-team-infobox {
  width: 65vh;
  height: 25vh;
  background-color: grey;
}

.matchup-team-infobox-left {
  color: blue;
  background-color: white;
}

.matchup-detail-pic {
  height: 80px;
  width: 100px;
  padding-bottom: 0px;
}

.matchup-card-score {
  font-size: 30px;
  padding-top: 20px;
}

.matchup-card-details {
  padding-top: 10px;
}

.matchup-squad-card {
  width: 400px;
  margin-left: 40px !important;
  margin-right: 0px !important;
}

.squad-detail-free-agent {
  height: 25px;
  border: 2px solid lightgrey;
  border-radius: 10px;
  background-color: lightgreen;
  padding-left: 2px;
}

.squad-detail-lineup {
  background-color: #C8F4D7;
  font-size: 16px;
  border: 2px solid darkgreen;
  border-radius: 5px;
}

.squad-detail-team {
  border-left: 2px solid grey;
  border-right: 2px solid grey;
}

.squad-detail-lineup-top {
  background-color: lightgreen;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
}

.league-detail-standings {
  font-size: 20px;
}

.league-detail-standings-top {
  font-size: 24px;
}

.blue {
  background-color: blue;
}

.draft {
  background-color: orange;
  height: 120vh;
  border: 2px solid darkgrey;
  color: black;
}

.matchup-link {
  height: 70px !important;
  /*margin-top: 10px !important;*/
  padding-top: 10px !important;
}

.league-matchup-box {
  height: 110px;
  font-size: 16px;
  font-family: Tahoma;
}

.league-detail-pic {
  height: 25px;
  width: 35px;
}

.league-detail-away-pic {
  padding-bottom: 5px;
}
.draft-side {
  background-color: lightgrey;
  height: 120vh;
}

.index-btn {
  width: 200px;
}

.green {
  background-color: green;
}

.league-detail-top {
  height: 20px;
}

.team-home {
  width: 400px;
}

.index-top {
  height: 40px;
}

.index-btn-logged {
  width: 300px !important;
  height: 300px !important;
  float: right;
}

.index-league-home {
  background-image: url('http://nflrt.com/wp-content/uploads/2014/09/roger-goodell1.jpg');
  width: 300px;
  height: 300px;
  padding-top: 40px;
}

.index-my-team {
  background-image: url('http://ligados32.com/wp-content/uploads/2015/09/huddle.jpg');
  width: 300px;
  height: 300px;
  padding-top: 40px;

}

.index-rules-top {
  text-align: center;
}

.squad-detail-profile {
  height: 100px;
  padding-left: 20px;
}

.squad-card {
  width: 600px;
  font-size: 20px;
}

.lightgrey {
  background-color: lightgrey;
}

.row-no-bottom {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.top-card {
  margin-top: 0px !important!
}

.squad-league-link {
  height: 80px;
  margin-top: 20px !important;
}

.index-league-list {
  height: 200px;
  border-left: 2px solid black;
}

.index-list {
  font-family: sans-serif;;
  font-size: 22px;
}

/*.back-img {
  background-image: url('http://www.predictionmachine.com/images/CPNews/Packers-Bears-NFL.jpg');
  height: 200px;
  width: 200px;
}*/

.draft-ticker {
  height: 40px;
  background-color: orange;
}
.draft-ticker-team {
  border: 2px solid red;
  height: 40px;
  text-align: center;
  font-size: 16px;
}

.draft-picking {
  border: 3px solid red !important;
  background-color: yellow;
}

.draft-side-header {
  font-size: 18px;
}

.index-background {
  background-color: #d1e8f9;
  border-left: 1px solid blue;
  border-right: 1px solid blue;
  border-bottom: 1px solid blue;
  height: 120vh;
}

.matchup-background {
  background-color: #d1e8f9;
  border-left: 1px solid blue;
  border-right: 1px solid blue;
  border-bottom: 1px solid blue;
  height: 150vh;
}

.index-indent {
  width: 10px !important;
}

.standings-card {
  height: 250px !important;
}

.matchup-card-away {
  margin-right: 40px !important;
}
.indent {
  padding-left: 40px;
}
