.matchup-team {
  text-align: center;
  font-size: 20px;
}
.matchup-team:nth-child(even) {
  background-color: #1a8cff;
}
.matchup-team:nth-child(odd) {
  background-color: #4da6ff;
}
.matchup-list-top {
  background-color: #0073e6;
  text-align: center;
}

.matchup-score-header {
  text-align: center;
  background: #0073e6;
  font-size: 24px;
}

.matchup-team-infobox {
  width: 65vh;
  height: 25vh;
  background-color: grey;
}

.matchup-team-infobox-left {
  color: blue;
  background-color: white;
}

.squad-detail-free-agent {
  height: 25px;
  border: 2px solid lightgrey;
  border-radius: 10px;
  background-color: lightgreen;
  padding-left: 2px;
}

.squad-detail-lineup {
  background-color: #C8F4D7;
  font-size: 16px;
  border: 2px solid darkgreen;
  border-radius: 5px;
}

.squad-detail-team {
  border-left: 2px solid grey;
  border-right: 2px solid grey;
}

.squad-detail-lineup-top {
  background-color: lightgreen;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
}

.league-detail-standings {
  font-size: 20px;
}

.league-detail-standings-top {
  font-size: 24px;
}

.blue {
  background-color: blue;
}

.draft {
  background-color: lightgrey;
  height: 130vh;
  border: 2px solid darkgrey;
}

.matchup-link {
  height: 40px;
}

.league-matchup-box {
  height: 100px;
  font-size: 16px;
}

.draft-side {
  background-color: grey;
  height: 130vh;
}

.index-btn {
  width: 200px;
}

.green {
  background-color: green;
}

.league-detail-top {
  height: 20px;
}

.team-home {
  width: 400px;
}

.index-top {
  height: 40px;
}

.index-btn-logged {
  width: 200px;
  height: 200px;
}

.index-rules-top {
  text-align: center;
}
