.matchup-team {
  text-align: center;
  font-size: 20px;
}
.matchup-team:nth-child(even) {
  background-color: mediumspringgreen;
}
.matchup-team:nth-child(odd) {
  background-color: palegreen;
}
.matchup-list-top {
  background-color: darkseagreen;
  text-align: center;
}

.matchup-score-header {
  text-align: center;
  background: green;
  font-size: 24px;
}

.matchup-col {

}
