{% extends 'base.html' %}
{% block content %}

<div class="index-background">
<div class="row league-detail-top"></div>

<div class="row">
<div class="col m6">

{% if league.limit == amount and not league.live %}
<h4>League is Full</h4>
<p>There are currently {{ amount }} team(s) in this league</p>
Start: {{ league.start.date }} End: {{ league.end.date }}<br>
{% endif %}



{% if league.live == False and leage.limit != amount %}
{% if not request.user.squad.league %}

<h6>This league runs from {{ league.start.date }} to {{ league.end.date }}</h6><br>
<a class="btn-large blue" href="{% url 'league_join_view' request.user.squad.id league.id %}">Join!</a>
{% endif %}
{% endif %}



{% if league.live == False %}
{% if league.limit == amount %}
{% if teams_ready == 54 %}
<a href="{% url 'league_update_view' league.id %}">Start!</a>
{% endif %}
{% endif %}
{% endif %}

{% if league.draft %}
{% if teams_ready == 0 %}
<a href="{% url 'draft_view' league.draft.id %}">Draft!</a>
{% endif %}
{% endif %}


<div class="row">
  <div class="col m12">
{% for game in current_games %}

<div class="card-panel league-matchup-box">
  <div class="row top-card">
    <div class="col m8">
      <div class="row">
        <div class="col m3">
          <div class="thumbnail">
            <img class="league-detail-pic" src="{{ MEDIA_URL }}{{ game.home.image_url }}" alt="" />
          </div>
        </div>
        <div class="col m6">
          {{ game.home }}
        </div>
        <div class="col m3">
          {{ game.get_home_score }}
        </div>
      </div>
      <div class="row">
        <div class="col m3">
          <div class="thumbnail league-detail-away-pic">
            <img class="league-detail-pic" src="{{ MEDIA_URL }}{{ game.away.image_url }}" alt="" />
          </div>
        </div>
        <div class="col m6">
          {{ game.away }}
        </div>
        <div class="col m3">
          {{ game.get_away_score }}
        </div>
      </div>
    </div>
    <div class="col m4">

      <a class='btn-large matchup-link' href="{% url 'matchup_detail_view' game.id %}">Matchup</a>
    </div>
  </div>

</div>

{% endfor %}
  </div>
</div>
</div>


  <div class="col m6">
    <div class="card-panel">
      {% if league.live %}
      <a class="waves-effect waves-light btn-large blue team-home"href="{% url 'squad_detail_view' request.user.squad.id %}">Team</a>
      {% endif %}
    </div>


    <div class="card standings-card">
    <div class="row league-detail-standings-top">
      <div class="col m2"></div>
      <div class="col m5">Team</div>
      <div class="col m1">W</div>
      <div class="col m1">L</div>
    </div>
    <div class="row league-detail-standings">
      <div class="col m2"></div>
      <div class="col m5">
        {% for team in standings %} {{ team }} <br>{% endfor %}
      </div>
      <div class="col m1">
        {% for team in standings %} {{ team.wins }}<br> {% endfor %}
      </div>
      <div class="col m1">
        {% for team in standings %} {{ team.losses }}<br> {% endfor %}
      </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

{% endblock %}
