{% extends 'base.html' %}
{% block content %}

{{ user }}


{% if league.limit == amount %}
<h4>League is Full</h4>
{% else %}
{% if not request.user.squad %}
<a href="{% url 'squad_create_view' league.id %}">Create a team</a>
{% endif %}
{% endif %}

<p>There are currently {{ amount }} team(s) in this league</p>

{% if league.live == False %}
{% if league.limit == amount %}
<a href="{% url 'league_update_view' league.id %}">Start!</a>
{% endif %}
{% endif %}
<a href="{% url 'index_view' %}">Index</a>
{% for squad in squads %}
{% if squad.user == request.user %}
<a href="{% url 'squad_detail_view' squad.id %}">Team</a>
{% endif %}
{% endfor %}

<div class="row">
  <div class="col m6">
{% for game in current_games %}
<a href="{% url 'matchup_detail_view' game.id %}">{{ game.home }} {{ game.get_home_score}}
<br>{{ game.away }} {{ game.get_away_score}}</a><hr>
{% endfor %}
  </div>
  <div class="col m6">
    {% for team in standings %}
    {{ team }} - {{ team.total_proj }}<br>
    {% endfor %}
  </div>
</div>




{% endblock %}
