{% extends 'base.html' %}
{% block content %}
<div class="matchup-background">
  <br>



<h3 class='center-align'>WEEK {{ matchup.week }}</h3>
<div class="indent matchup-next-links">
{{ matchup.tues_start }} - {{ matchup.tues_end }}
<hr>
{% if last_week %}
<a href="{% url 'matchup_detail_view' last_week.id %}">Last Week</a> |
{% endif %}
<a href="{% url 'league_detail_view' matchup.league.id %}">Back To League</a> |
{% if next_week %}
<a href="{% url 'matchup_detail_view' next_week.id %}">Next Week</a>
{% endif %}
</div>



<div class="row">

  <div class="col m6">
    <div class="card matchup-squad-card">
      <div class="card-content lightgrey">
        <div class="row row-no-bottom">
          <div class="col m4">
            <div class="thumbnail">
              <img class="matchup-detail-pic" src="{{ MEDIA_URL }}{{ matchup.home.image_url }}" alt="" />
            </div>
            </div>
            <div class="col m5">
              <div class="matchup-card-details">
                {{ matchup.home }}<br>
                {{ matchup.home.user }}<br>
                {{ matchup.home.wins }} - {{ matchup.home.losses }}
              </div>

              </div>
              <div class="col m3">
                <div class="matchup-card-score">
                  {{ home_score }}
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="row">
        <div class="col s2"></div>
        <div class="col m8 matchup-score-header">
          {{ matchup.home }} Box Score
        </div>
      </div>
      <div class="col m1"></div>
      <div class="col m2 matchup-col">
        <ul>
        <li class='matchup-list-top'>SPORT</li>
        {% for team in home_squad_sports %}
        <li class='matchup-team'>{{ team }}</li>
        {% endfor %}
        </ul>
      </div>
      <div class="col m4 matchup-col">
        <ul>
        <li class='matchup-list-top'>TEAM</li>
        {% for team in home_squad_teams %}
        <li class='matchup-team'>{{ team }}</li>
        {% endfor %}
        <li class='matchup-team'>TOTAL:</li>
        </ul>
      </div>
      <div class="col m4 matchup-col">
        <ul>
          <li class='matchup-list-top'>SCORE</li>
          {% for score in home_squad_scores %}
          <li class='matchup-team'>{{ score }}</li>
          {% endfor %}
          <li class='matchup-team'>{{ home_score }}</li>
        </ul>
      </div>
    </div>

  </div>
  <div class="col m6">
    <div class="card matchup-squad-card matchup-card-away">
      <div class="card-content lightgrey">
        <div class="row row-no-bottom">
          <div class="col m4">
            <div class="thumbnail">
              <img class="matchup-detail-pic" src="{{ MEDIA_URL }}{{ matchup.away.image_url }}" alt="" />
            </div>
            </div>
            <div class="col m5">
              <div class="matchup-card-details">
                {{ matchup.away }}<br>
                {{ matchup.away.user }}<br>
                {{ matchup.away.wins }} - {{ matchup.away.losses }}
              </div>

              </div>
              <div class="col m3">
                <div class="matchup-card-score">
                  {{ away_score }}
                </div>
            </div>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="row">
          <div class="col m2"></div>
          <div class="col m8 matchup-score-header">
            {{ matchup.away}} Box Score
          </div>
        </div>
        <div class="col m1"></div>
        <div class="col m2 matchup-col">
          <ul>
          <li class='matchup-list-top'>SPORT</li>
          {% for team in away_squad_sports %}
          <li class='matchup-team'>{{ team }}</li>
          {% endfor %}
          </ul>
        </div>
        <div class="col m4 matchup-col">
          <ul>
          <li class='matchup-list-top'>TEAM</li>
          {% for team in away_squad_teams %}
          <li class='matchup-team'>{{ team }}</li>
          {% endfor %}
          <li class='matchup-team'>TOTAL:</li>
          </ul>
        </div>
        <div class="col m4 matchup-col">
          <ul>
            <li class='matchup-list-top'>SCORE</li>
            {% for score in away_squad_scores %}
            <li class='matchup-team'>{{ score }}</li>
            {% endfor %}
            <li class='matchup-team'>{{ away_score }}</li>
          </ul>
        </div>
      </div>
  </div>
</div>

</div>
{% endblock %}
