{% extends 'base.html' %}
{% block content %}

<nav class='blue'>
  <div class="nav-wrapper">
    <ul>
      <li><a href="{% url 'logout' %}">Logout</a></li>
      <li><a href="{% url 'index_view' %}">Home</a></li>
      <li><a href="{% url 'league_detail_view' user.squad.league.id %}">League</a></li>
    </ul>
  </div>
</nav>


<h1>{{ squad.name }}, {{ wins }} - {{ losses }}</h1>
<h3></h3>
  <div class="row squad-detail-lineup-top valign-wrapper">
    <div class="col m2 squad-detail-team">Team</div>
    <div class="col m1">Action</div>
    <div class="col m1 squad-detail-team">Rank</div>
    <div class="col m1 squad-detail-team">Points</div>
    <div class="col m1 squad-detail-team">PPG</div>
    <div class="col m1 squad-detail-team">%Own</div>
  </div>

{% for team in squad.roster.all %}
<div class="row squad-detail-lineup valign-wrapper">
  <div class="col m2 squad-detail-team">
    {{ team }}
  </div>
  <div class="col m1">
    <a href="{% url 'squad_drop_view' squad.id team.id %}">Drop</a><br>
  </div>
  <div class="col m1 squad-detail-team">
    {{ team.rank }}
  </div>
  <div class="col m1 squad-detail-team">
    {{ team.total_points }}
  </div>
  <div class="col m1 squad-detail-team">
    {{ team.ppg }}
  </div>
  <div class="col m1 squad-detail-team">
    {{ team.owned_per }}
</div>
</div>
{% endfor %}


<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a href="#test1">Hockey</a></li>
      <li class="tab col s3"><a class="active" href="#test2">Football</a></li>
      <li class="tab col s3"><a href="#test3">Basketball</a></li>
    </ul>
  </div>
  <div id="test1" class="col s12">
    <h2>Hockey</h2>
    {% for team in hockey %}
    <div class="squad-detail-free-agent left-align">
      <div class="col m2">
        {{ team }}
      </div>
      <div class="col m1">
        {{ team.rank }}
      </div>
      <div class="col m1">
        {{ team.ppg }}
      </div>
    </div>
    {% if checker_k %}
    <a href="{% url 'squad_update_view' squad.id team.id %}">Add</a>
    {% endif %}
    {% endfor %}
  </div>
  <div id="test2" class="col s12">
      <h2>Football</h2>
      {% for team in football %}
      <div class="squad-detail-free-agent left-align">
        <div class="col m2">
          {{ team }}
        </div>
        <div class="col m1">
          {{ team.rank }}
        </div>
        <div class="col m1">
          {{ team.ppg }}
        </div>
      </div>
      {% if checker_k %}
      <a href="{% url 'squad_update_view' squad.id team.id %}">Add</a>
      {% endif %}
      {% endfor %}
      </div>
  <div id="test3" class="col s12">
      <h2>Basketball</h2>
      {% for team in basketball %}
      <div class="squad-detail-free-agent left-align">
        <div class="col m2">
          {{ team }}
        </div>
        <div class="col m1">
          {{ team.rank }}
        </div>
        <div class="col m1">
          {{ team.ppg }}
        </div>
      </div>
      {% if checker_k %}
      <a href="{% url 'squad_update_view' squad.id team.id %}">Add</a>
      {% endif %}
      {% endfor %}</div>

</div>


{% endblock %}

{% block extrascript %}
<script type="text/javascript">
$(document).ready(function(){
  $('ul.tabs').tabs();
});
</script>
{% endblock %}
