{% extends 'base.html' %}
{% block content %}
<a href="{% url 'league_detail_view' user.squad.league.id %}">League</a>
<h1>{{ squad.name }}</h1>

{% for team in squad.roster.all %}
{{ team }}
<a href="{% url 'squad_drop_view' squad.id team.id %}">Drop</a><br>
{% endfor %}


<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a href="#test1">Baseball</a></li>
      <li class="tab col s3"><a class="active" href="#test2">Football</a></li>
      <li class="tab col s3"><a href="#test3">Basketball</a></li>
    </ul>
  </div>
  <div id="test1" class="col s12">
    <h2>Baseball</h2>
    {% if checker_b %}
    {% for team in baseball %}
    {{team}} -{{team.pts_proj}}
    {{ team.lookup }}
    <a href="{% url 'squad_update_view' squad.id team.id %}">Add</a>
    <br>
    {% endfor %}
    {% endif %}
  </div>
  <div id="test2" class="col s12">
      <h2>Football</h2>
      {% if checker_f %}
      {% for team in football %}
      {{team}} -{{team.pts_proj}}
      <a href="{% url 'squad_update_view' squad.id team.id %}">Add</a>
      <br>
      {% endfor %}</div>
      {% endif %}
  <div id="test3" class="col s12">
      <h2>Basketball</h2>
      {% if checker_k %}
      {% for team in basketball %}
      {{team}} -{{team.pts_proj}}
      <a href="{% url 'squad_update_view' squad.id team.id %}">Add</a>
      <br>
      {% endfor %}</div>
      {% endif %}
</div>


{% endblock %}

{% block extrascript %}
<script type="text/javascript">
$(document).ready(function(){
  $('ul.tabs').tabs();
});
</script>
{% endblock %}
