{% extends 'base.html' %}
{% block content %}


{% for league in leagues %}
{% if request.user.squad.league == league %}
<a href="{% url 'league_detail_view' league.id %}">{{ league }}</a>
{% endif %}
{% endfor %}

{% if not request.user.is_authenticated %}
<a class="btn-large index-btn green"href="{% url 'user_create_view' %}">SIGN UP</a>
-> Create an account first <br>
<button type="button" class="btn-large index-btn">MAKE TEAM</button>
-> Create your team <br>
<button type="button" class="btn-large index-btn">JOIN LEAGUE</button>
-> Join a league
{% endif %}

{% if request.user.is_authenticated and not request.user.squad %}
<div class="row">
  <div class="col m6">
    <button type="button" class="btn-large index-btn">SIGN UP</button>
    -> Signed up! <br>
    <button type="button" class="btn-large index-btn green">JOIN LEAGUE</button>
    -> Join a league <br>
    <button type="button" class="btn-large index-btn">ADD TEAM</button>
    -> Add your team!
  </div>
  <div class="col m6">
    {% for league in leagues %}
    {% if league.live == False and league.limit != league.get_squads.count %}
    {{ league }}
    {% endif %}
    {% endfor %}
  </div>
</div>


{% endif %}





{% endblock %}
