{% extends 'base.html' %}
{% block content %}

{% if request.user.squad %}
<div class="thumbnail">
  <img class="matchup-detail-pic" src="{{ MEDIA_URL }}{{ request.user.squad.image_url }}" alt="" />
</div>
{% endif %}

<div class="row index-top"></div>
<div class="row index-logged-in">
  <div class="col m2"></div>
  <div class="col m4">
    {% for league in leagues %}
    {% if request.user.squad.league == league %}
    <a class="btn-large blue index-btn-logged"href="{% url 'league_detail_view' league.id %}">League Home</a>
    {% endif %}
    {% endfor %}
  </div>

  <div class="col m4">
    {% if request.user.squad.league %}
    <a class='btn-large blue index-btn-logged' href="{% url 'squad_detail_view' request.user.squad.id %}">My Team</a>
    {% endif %}
  </div>
</div>


{% if not request.user.is_authenticated %}
<a class="btn-large index-btn green"href="{% url 'user_create_view' %}">SIGN UP</a>
-> Create an account first <br>
<button type="button" class="btn-large index-btn">JOIN LEAGUE</button>
-> Join a league <br>
<button type="button" class="btn-large index-btn">MAKE TEAM</button>
-> Create your team
{% endif %}

{% if request.user.is_authenticated and not request.user.squad %}
<div class="row">
  <div class="col m6">
    <button type="button" class="btn-large index-btn blue">SIGN UP</button>
    -> Signed up! <br>
    <a class="btn-large index-btn green"href="{% url 'squad_create_view' %}">ADD TEAM</a>
    -> Create your team! <br>
    <button type="button" class="btn-large index-btn">JOIN LEAGUE</button>
    -> Join a league
  </div>
</div>
{% endif %}
{% if request.user.squad and not request.user.squad.league %}
<div class="row">
  <div class="col m6">
    <button type="button" class="btn-large index-btn blue">SIGN UP</button>
    -> Signed up! <br>
    <button type="button" class="btn-large index-btn blue">CREATE TEAM</button>
    -> Team created! <br>
    <button type="button" class="btn-large index-btn green">JOIN LEAGUE</button>
    -> Choose a league to join! <br>
  </div>
  <div class="col m6 index-league-list">
    <h4>Open Leagues:</h4>
    {% for league in leagues %}
    {% if league.live == False and league.limit != league.get_squads.count %}
    League: <a href="{% url 'league_detail_view' league.id %}">{{ league }}</a>
    {% endif %}
    {% endfor %}
  </div>
</div>

{% endif %}

<div class="row rules">
  <div class="index-rules-top">
    <h3>Fantasy Sports App</h3>
    </div>
    <ul class="index-list">
      <li>-Draft teams from 4 sports: Soccer, Football, Basketball, Hockey</li>
      <li>-Scoring in real time based on real games</li>
      <li>-Weekly matchups starting at midnight on Tuesdays</li>
      <li>-Add/Drop teams during the season</li>
      <li>-Once a team you own starts playing, you will be stuck with their score!</li>
    </ul>
</div>



{% endblock %}
