{% extends 'base.html' %}
{% block content %}
<div class="index-background">
  <div class="container">
<br>
  <h3 class='center-align'>Rules</h3>
  <ol class='rules'>
    <li>Teams consist of 3 Football, Soccer, Basketball, and Hockey pro teams</li>
    <li>You will play one person in your league each week starting and ending Tuesday midnight</li>
    <li>When a team you own starts a game, you will be locked with their score</li>
    <li>If you drop a team during a game, you will still be given their score</li>
    <li>Scoring is different for each sport but is calculated using 3 categories:
    win/loss, point differential, points scored</li>
  </ol>
</div>
</div>
{% endblock %}
